<!DOCTYPE html>

<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | About Us</title>
	</head>
	<body>
		<h1>Line 1: About Us!</h1>
		<p>Line 2: The test should have passed already because of the phrase in line 1</p>
		<p>The <b><i><%= 'sneaky fucker'.upcase %></i></b>, Michael Hartl, has once again added some shit about his website.</p>
		<p>The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> is a project oto make a book and screencasts to teach web development with <a href='http://rubyonrails.org/'>Ruby on Rails</a>. This is a sample application for the tutorial.</p>
	</body>
</html>

