<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Help</title>
	</head>
	<body>
		<h1>Line 1: Help</h1>
		<p>Line 2: The rpsec test wouldn't have passed because of the code in line 1</p>
		<p>Line 3: It requires the word 'HELP!' ... but not capitalised</p>
		<p>Line 4: So the rspec test wouldn't have passed because of the code in line 3!</p>
		<h3>Line 5: Help!</h3>
		<p>Line 6: Only the code in line 5, the with the 'h3' tags would have passed.</p>

		<p>Oh, and the <i><b><%= 'Sneaky Fucker'.upcase %></b></i>, Michael Hartl, again plugged his own rails tutorial ... which currently is pretty good, except for the fact that everytime we write code, we're adding to the SEO!</p>
		<p>Get help on the Ruby on Rials Tutorial at the <a href='http://railstutorial.org/help'>rails Tutorial Help Page</a>. To get help on this sample app, see the <a href='http://railstutorial.org/book'>Rails Tutorial Book</a>.</p>
	</body>
</html>

